/*variables*/
:root {

    /*size*/
    --width-100: 100%;

    /*backgroundcolors*/
    --bgc-color-white: #FFFFFF;
    --bgc-input-gray: #F7F7F7;
    --bgc-input-hover: #E5E5E5;

    /****fonts****/
    /*font family*/
    --h1-family: 'Eczar';
    --label-font: 'Roboto Mono';
    --h2-txt-family: 'Roboto';

    /*colors*/
    --gray-font: #343541;
    --gray-2-font: #292A33;
    --red-1-normal:#EC1115;
    --red-2-hover:#A60C0E;
    --red-4-border-active: #F47073;
    --label-color:#F47073;
    --placeholder-color: #85868D;

    /*size*/
    --font-size-80: 80px;
    --line-height-80: 82px;
    --font-size-22: 22px;
    --font-size-18: 18px;
    --font-size-14: 14px;
    --line-height-14: 18px;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    /*borders*/
    --border-color-blue: #2F80ED;
    --border-width-1: 2px;
    --border-style-1: solid;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgc-color-white);
}
/***Container for all content***/
.container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: var(--width-100);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 25px 48px;
}

/***firs step of registration***/

/*for three steps of registration same class*/
.registration {
    display: flex;
    width:55%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 124px;
}

.h1-grey-1 {
    font-family: var(--h1-family);
    width: 95%;
    font-size: var(--font-size-80);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-80);
    letter-spacing: -0,01em;
    color: var(--gray-font);
    padding-left: 50px;
}

.h1-grey-2 {
    opacity: 0.6;
    padding-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: var(--bgc-color-white);
    box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
    border-radius: 24px;
    padding:  64px;
}

label {
    width: 60%;
    font-family: var(--label-font);
    font-style: normal;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-14);
    line-height: var(--line-height-14);
    text-transform: uppercase;
    color: var(--label-color);
    padding-top: 18px;
    padding-bottom: 12px;
}

.input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bgc-input-gray);
    border-radius: 8px;
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
  }

.input-div input {
    height: 55px;
    width: var(--width-100);
    font-size: var(--font-size-18);
    background-color: var(--bgc-input-gray);
    border-style: var(--border-style-1);
    border-color: var(--bgc-input-gray);
    border-width: var(--border-width-1);
    border-radius: 8px;
    color:var(--gray-font);
    padding: 24px;
}

.input-div input:hover {
    background-color: var(--bgc-input-hover);
    border-color: var(--bgc-input-hover);
}

.input-div input:focus {
    outline: none !important;
    border-color: var(--border-color-blue);
}

.container-btn-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-100);
    position: relative;
}

.input-div .input-password {
    width: var(--width-100);
    flex-grow: 1;
}

.input-div button {
    background-image: url("assets/eye.svg");
    background-position: center;
    background-color:rgba(0, 0, 0, 0.0);
    width:30px;
    height: 22px;
    border-style: none;
    cursor: pointer;
    position: absolute;
    right: 33%;
}


.password-requirements {
    padding-top: 8px;
    padding-bottom: 30px;
}

h2 {
    font-family: var(--h2-txt-family);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: 170%;
    letter-spacing: 0.04em;
    color: var(--gray-font);
}

.container-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--label-font);
    font-style: normal;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-18);
    line-height: 100%;
    letter-spacing: 0.015em;
    color: var(--red-1-normal);
    text-decoration: none;
}

.container-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-family: var(--label-font);
    font-style: normal;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-18);
    line-height: 100%;
    letter-spacing: 0.015em;
    color: var(--bgc-color-white);
    padding: 20px 40px;
    background-color: var(--red-1-normal);
    border-radius: 64px;
    border: 5px solid var(--red-1-normal);

}

.container-btn button:hover {
    background: var(--red-2-hover);
    border-color:var(--red-2-hover);
}

.container-btn button:active {
    border: 5px solid var(--red-4-border-active);
    background: var(--red-2-hover);
}

/***second step of registration***/

.input-div .input-date {
    color: var(--placeholder-color);
}

.input-div .input-date:focus {
    color:var(--gray-font);
}

.input-div-check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
}

.input-check {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 0.75px solid #AEAEB3;
    border-radius: 8px;
}

.txt {
    font-family: var(--h2-txt-family);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18);
    line-height: 21px;
    letter-spacing: 0.04em;
    color: var(--gray-2-font);
}

.input-div-check a {
    text-decoration: underline !important;
    color: var(--gray-2-font);
}

/***third step of registration***/

.success-message {
    padding-top: 320px;
}

.h1-name {
    padding-bottom: 48px;
    padding-left: 0px;
    width: auto;
}

.h3-email {
    font-family: 'Roboto';
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18);
    line-height: 21px;
    text-align: center;
    padding-bottom: 48px;
    color: var(--gray-2-font);
}

.h3-email span {
    font-weight: var(--font-weight-700);
}

.container-btn-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.container-btn-2 button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37%;
    font-family: var(--label-font);
    font-style: normal;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-18);
    line-height: 100%;
    letter-spacing: 0.015em;
    color: var(--bgc-color-white);
    padding: 14px 5px;
    background-color: var(--red-1-normal);
    border-radius: 64px;
    border: 5px solid var(--red-1-normal);
}

.last-btn:hover {
    background: var(--red-2-hover);
    border-color: var(--red-2-hover);
}

.last-btn:active {
    border: 5px solid var(--red-4-border-active);
}

/****show or hide steps****/
.display {
    display: none;
}


/**** MEDIA QUERIES ****/

@media (max-width:1312px) {
    .registration {
        width:75%;
    }

    .h1-grey-1 {
        padding-left: 95px;
    }
    
    .form {
        width: 80%;
    }
    
    .container-btn button {
        width: 50%;
    }

    .input-div button {
        right: 28%;
    }
    
    /***third step of registration***/
   
   
    .success-message h1 {
        padding-left: 0px;
    }
    
    .container-btn-2 button {
        width: 35%;
    }

}

@media (max-width:1200px) {
    
    .h1-grey-1 {
        padding-left: 60px;
    }
    
    .form {
        width: 80%;
    }
    .container-btn button {
        width: 47%;
        padding: 14px 40px;
    }

    /***third step of registration***/
    
    .container-btn-2 button {
        width: 36%;
    }

}

@media (max-width:992px) {

    .container-header {
        justify-content: center;
        padding: 24px 0px 70px 0px;
    }

    .container-header img:last-of-type {
        display: none;
    }

    .registration {
        width: var(--width-100);
        padding: 24px 24px 22px 24px;
    }

    .h1-grey-1 {
        font-size: 60px;
        line-height: 61px;
        text-align: center;
        padding-left: 0px;
    }

    .h1-grey-2 {
        padding-bottom: 48px;
    }

    .form {
        width: 74%;
        box-shadow: none;
        padding-top: 0px;
    }
    
    .container-btn button {
        width: 47%;
        padding: 14px 40px;
    }

    .input-div button {
        right: 25%;
    }
    
    /***third step of registration***/
    .h1-name {
        padding-top: 80px;
        padding-bottom: 48px;
    }

    .h3-email {
        padding-bottom: 48px;
    }

    .container-btn-2 button {
        width: 38%;
    }
}

@media (max-width:768px) {

    .h1-grey-1 {
        font-size: 53px;
        line-height: 54px;
    }

    .form {
        width: 80%;
        padding: 0px;
    }
    .container-btn {
        flex-direction: column-reverse;
        align-items: center;
    }

    a {
        padding-top: 35px;
    }

    .container-btn button {
        width: 65%;
    }

    .input-div button {
        right: 17%;
    }

    /***second step of registration***/

    .input-div-check a {
        padding: 0px;
    }
    
    /***third step of registration***/
    .h1-name {
        padding-top: 69px;
    }

    .h3-email {
        width: 65%;
    }

    .container-btn-2 button {
        width: 70%;
    }
}

@media (max-width:480px) {

    .container-header {
        padding-bottom:64px;
    }

    .h1-grey-1 {
        font-size: 40px;
        line-height: 41px;
    }

    .form {
        width: var(--width-100);
    }

    .container-btn button {
        width: var(--width-100);
    }

    .input-div button {
        right: 10%;
    }
    
    /***third step of registration***/
    .h1-name {
        padding-top: 51px;
    }

    .h3-email {
        width: var(--width-100);
    }

    .container-btn-2 {
        width: var(--width-100);
    }

    .container-btn-2 button {
        width: var(--width-100);
        padding: 14px 0px;
    }
}