* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}
/***Container for all content***/
.container-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 25px 48px;
}

/***firs step of registration***/

/*for three steps of registration same class*/
.registration {
  display: flex;
  width:55%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}

.h1-grey-1 {
  font-family: 'Eczar';
  width: 85%;
  font-size: 80px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: -0,01em;
  color: #343541;
}

.h1-grey-2 {
  opacity: 0.6;
  padding-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
  border-radius: 24px;
  padding:  64px;
}

label {
  width: 60%;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #F47073;
  padding-top: 18px;
  padding-bottom: 12px;
}

.input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #F7F7F7;
}

.input-div input {
  height: 55px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  background: #F7F7F7;
  color:#85868D;
  border-style: unset;
  padding: 24px;
}

.input-div input:hover {
  background: #E5E5E5;
}

.input-div input:focus {
  background-color: rgba(47, 128, 237, 0.1);
  outline: 2px solid #2F80ED;
}

.input-red-border-focus input:focus {
  outline: 2px solid #EC1115;
}

.input-div img {
  position: absolute;
  left: 63%;
  padding-right: 25px;
  z-index: 1;
}

.password-requirements {
  padding-top: 8px;
  padding-bottom: 30px;
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.04em;
  color: #343541;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.015em;
  color: #EC1115;
  text-decoration: none;
}

.container-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  padding: 20px 40px;
  background-color: #EC1115;
  border-radius: 64px;
  border: unset;
}

.container-btn button:hover {
  background: #A60C0E;
}

.first-step-sub-btn:active {
  border: 5px solid #F47073;
}

.second-step-sub-btn:active {
  border: 5px solid #F47073;
}



/***second step of registration***/

.input-div-check {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}

.input-check {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 0.75px solid #AEAEB3;
  border-radius: 8px;
}

.txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #292A33;
}

.input-div-check a {
  text-decoration: underline !important;
  color: #292A33;
}

/***third step of registration***/

.success-message {
  padding-top: 320px;
}

.h1-name {
  padding-bottom: 48px;
  width: auto;
}

.h3-email {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 48px;
  color: #292A33;
}

.h3-email span {
  font-weight: 700;
}

.container-btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.container-btn-2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  padding: 20px 40px;
  background-color: #EC1115;
  border-radius: 64px;
  border: unset;
}

.last-btn:hover {
  background: #A60C0E;
}

.last-btn:active {
  border: 5px solid #F47073;
}

/****show or hide steps****/
.display {
  display: none;
}


/********media queries********/

/****Mobile devices****/

@media (max-width:350px) {

  .container-page {
      width: 320px;
      padding: 0px 0px 40px 0px;
  }

  .container-header img:last-of-type {
      display: none;
  }
  
  .container-header {
      justify-content: center;
      padding: 24px 0px;
  }
  
  /***firs step of registration***/
  
  .registration {
      width:100%;
      padding: 24px 24px 22px 24px;
  }
  
  .h1-grey-1 {
      font-size: 30px;
      line-height: 31px;
      text-align: center;
  }
  
  .h1-grey-2 {
      padding-bottom: 10px;
  }
  
  .form {
      box-shadow: none;
      padding:  0px;
  }
  
  .input-div input {
      font-size: 12px;
  }

  .input-div img {
      left: 70%;
  }

  h2 {
      font-size: 12px;
  }
  
  .container-btn {
      flex-direction: column-reverse;
      align-items: center;
  }
  
  a {
      padding-top: 35px;
  }
  
  .container-btn button {
      width: 85%;
      padding: 20px 40px;
  }
  
  /***second step of registration***/

  .input-div-check a {
      padding: 0px;
  }
  
  /***third step of registration***/
  
  .success-message {
      padding-top: 30px;
  }

  .h1-name {
      padding-bottom: 24px;
  }
  
  .h3-email {
      width: 64%;
      font-size: 13px;
      line-height: 19px;
      padding-bottom: 20px;
      text-align: left;
  }

  .h3-email span {
      font-weight: 500;

  }
    
  .container-btn-2 button {
      width: 105%;
  }

}



@media (min-width:351px) and (max-width:414px) {

  .container-page {
      width: 375px;
      padding: 0px 0px 80px 0px;
  }

  .container-header img:last-of-type {
      display: none;
  }
  
  .container-header {
      justify-content: center;
      padding: 24px 0px;
  }
  
  /***firs step of registration***/
  
  .registration {
      width:110%;
      height: 678px;
      padding: 64px 24px 32px 24px;
  }
  
  .h1-grey-1 {
      width: 100%;
      font-size: 40px;
      line-height: 41px;
      text-align: center;
      padding-left: 24px;
      padding-right: 24px;
  }
  
  .h1-grey-2 {
      padding-bottom: 30px;
  }
  
  .form {
      box-shadow: none;
      padding:  0px;
  }
  
  .input-div img {
      left: 75%;
  }

  .password-requirements {
      padding-bottom: 45px;
  }
  
  .container-btn {
      flex-direction: column-reverse;
      align-items: center;
  }
  
  a {
      padding-top: 35px;
  }
  
  .container-btn button {
      width: 100%;
      padding: 20px 40px;
  }
  
  /***second step of registration***/

  .second-step {
      height: auto;
  }

  .second-form h3 {
      padding-bottom: 25px;
  }

  .input-div-check a {
      padding: 0px;
  }

  /***third step of registration***/

  .success-message {
      padding-top: 140px;
      height: auto;
  }
  
  .h3-email {
      width: 80%;
  }
    
  .container-btn-2 button {
      width: 100%;
  }
}

@media (min-width:415px) and (max-width:480px) {

  .container-page {
      width: 375px;
      padding: 0px 0px 80px 0px;
  }

  .container-header img:last-of-type {
      display: none;
  }
  
  .container-header {
      justify-content: center;
      padding: 24px 0px;
  }
  
  /***firs step of registration***/
  
  .registration {
      width:110%;
      height: 678px;
      padding: 64px 24px 32px 24px;
  }
  
  .h1-grey-1 {
      width: 100%;
      font-size: 40px;
      line-height: 41px;
      text-align: center;
      padding-left: 24px;
      padding-right: 24px;
  }
  
  .h1-grey-2 {
      padding-bottom: 30px;
  }
  
  .form {
      box-shadow: none;
      padding:  0px;
  }
  
  .input-div img {
      left: 63%;
  }

  .password-requirements {
      padding-bottom: 45px;
  }
  
  .container-btn {
      flex-direction: column-reverse;
      align-items: center;
  }
  
  a {
      padding-top: 35px;
  }
  
  .container-btn button {
      width: 100%;
      padding: 20px 40px;
  }
  
  /***second step of registration***/

  .second-step {
      height: auto;
  }

  .second-form h3 {
      padding-bottom: 25px;
  }

  .input-div-check a {
      padding: 0px;
  }

  /***third step of registration***/

  .success-message {
      padding-top: 140px;
      height: auto;
  }
  
  .h3-email {
      width: 80%;
  }
    
  .container-btn-2 button {
      width: 100%;
  }
}

/****iPads, Tablets****/

@media (min-width:481px) and (max-width:768px) {
  
  .container-page {
      width: 100%;
      padding: 0px;
  }

  .container-header img:last-of-type {
      display: none;
  }
  
  .container-header {
      justify-content: center;
      padding: 30px 90px;
  }
  
  /***firs step of registration***/
  
  .registration {
      width:100%;
      padding: 64px 24px 32px 24px;
  }
  
  .h1-grey-1 {
      font-size: 50px;
      line-height: 51px;
      text-align: center;
  }
  
  .h1-grey-2 {
      padding-bottom: 30px;
  }
  
  .form {
      box-shadow: none;
      padding:  0px;
  }
  
  .input-div img {
      left: 77%;
  }
  
  .container-btn {
      flex-direction: column-reverse;
      align-items: center;
  }
  
  a {
      padding-top: 35px;
  }
  
  .container-btn button {
      width: 65%;
      padding: 20px 40px;
  }
  
  /***second step of registration***/

  .input-div-check a {
      padding: 0px;
  }
  
  /***third step of registration***/
  
  .success-message {
      padding-top: 140px;
  }
  
  .h3-email {
      width: 54%;
  }
    
  .container-btn-2 button {
      width: 65%;
  }
}

/****Small screens, laptops 1****/

@media (min-width:769px) and (max-width:912px) {

  .container-page {
      width: 100%;
  }
  
  .container-header {
      padding: 25px 80px;
  }
  
  /***firs step of registration***/
  
  .registration {
      width:100%;
      padding: 64px 24px 32px 24px;
  }
  
  .h1-grey-1 {
      font-size: 65px;
      line-height: 66px;
      padding-left: 95px;
  }
  
  .h1-grey-2 {
      padding-bottom: 30px;
  }
  
  .form {
      width: 70%;
      padding: 50px;
  }
  
  .input-div img {
      left: 67%;
  }
  
  .container-btn {
      align-items: center;
  }
  
  .container-btn button {
      width: 50%;
      padding: 20px 40px;
  }
  
  /***second step of registration***/

  .input-div-check a {
      padding: 0px;
  }
  
  /***third step of registration***/
  
  .success-message {
      width: 90%;
      padding-top: 140px;
  }

  .success-message h1 {
      padding-left: 0px;
  }

  .success-message h2 {
      padding-left: 0px;
  }
  
  .h3-email {
      width: 85%;
  }
    
  .container-btn-2 button {
      width: 55%;
  }

}

/****Small screens, laptops 2****/

@media (min-width:913px) and (max-width:1024px) { 
  .container-page {
      width: 100%;
  }
  
  /***firs step of registration***/
  
  .registration {
      width:100%;
      padding: 64px 24px 32px 24px;
  }
  
  .h1-grey-1 {
      font-size: 80px;
      line-height: 81px;
      padding-left: 95px;
  }
  
  .h1-grey-2 {
      padding-bottom: 30px;
  }
  
  .form {
      width: 65%;
      padding: 50px;
  }
  
  .input-div img {
      left: 65%;
  }
  
  .container-btn {
      align-items: center;
  }
  
  .container-btn button {
      width: 50%;
      padding: 20px 40px;
  }
  
  /***second step of registration***/

  .second-step h1:nth-child(1){
      padding-top: 50px;
  }

  .input-div-check a {
      padding: 0px;
  }
  
  /***third step of registration***/
  
  .success-message {
      width: 90%;
      padding-top: 340px;
  }

  .success-message h1 {
      padding-left: 0px;
  }
  
  .h3-email {
      width: 85%;
  }
    
  .container-btn-2 button {
      width: 45%;
  }
}

/****Desktops, large screens****/

@media (min-width:1025px) and (max-width:1400px) {

  .container-page {
      width: 100%;
  }
  
  /***firs step of registration***/
  
  .registration {
      width:90%;
      padding: 64px 24px 32px 24px;
  }
  
  .h1-grey-1 {
      font-size: 80px;
      line-height: 66px;
      padding-left: 95px;
  }
  
  .h1-grey-2 {
      padding-bottom: 30px;
  }
  
  .form {
      width: 65%;
      padding: 50px;
  }
  
  .input-div img {
      left: 67%;
  }
  
  .container-btn {
      align-items: center;
  }
  
  .container-btn button {
      width: 50%;
      padding: 20px 40px;
  }
  
  /***second step of registration***/
  
  .second-step h1:nth-child(1){
      padding-top: 50px;
  }

  .input-div-check a {
      padding: 0px;
  }
  
  /***third step of registration***/
  
  .success-message {
      width: 90%;
      padding-top: 350px;
  }

  .success-message h1 {
      padding-left: 0px;
  }
  
  .h3-email {
      width: 85%;
  }
    
  .container-btn-2 button {
      width: 35%;
  }
}

/****Large screens, TV****/
/*****main designe for 1440px****/

/****Extra large screens, TV 1****/
@media (min-width:1536px) and (max-width:1680px) {

  .container-page {
      width: 100%;
  }

  .container-header {
      padding: 25px 48px;
  }

  .container-header img {
      width: 18%;
  }

  .container-header img:nth-last-of-type(1){
      width: 30%;
  }


/***firs step of registration***/
  
  .registration {
      width:80%;
      padding: 64px 24px 32px 24px;
  }
  
  .h1-grey-1 {
      font-size: 100px;
      line-height: 101px;
      padding-left: 95px;
  }
  
  .h1-grey-2 {
      padding-bottom: 30px;
  }
  
  .form {
      width: 65%;
      padding: 50px;
  }

  label {
      font-size: 18px;
      padding-top: 22px;
      padding-bottom: 18px;
  }

  .input-div input {
      height: 65px;
      font-size: 22px;
  }
  
  .input-div img {
      left: 65%;
      width: 4.5%;
  }

  .password-requirements {
      padding-top: 20px;
      padding-bottom: 40px;
  }

  h2 {
      font-size: 18px;
  }

  a {
      font-size: 22px;
  }
  
  .container-btn {
      align-items: center;
  }
  
  .container-btn button {
      width: 50%;
      padding: 30px 40px;
      font-size: 22px;;
  }
  
  /***second step of registration***/

  .input-div-check a {
      padding: 0px;
  }

  /***third step of registration***/
  
  .success-message {
      padding-top: 250px;
  }

  .success-message h1 {
      padding-bottom: 60px;
  }
  
  .h3-email {
      font-size: 22px;
      line-height: 35px;
      padding-left: 50px;
  }
    
  .container-btn-2 button {
      width: 35%;
      font-size: 22px;
  }
}

/****Extra large screens, TV 2****/
@media (min-width:1681px) {

  .container-page {
      width: 100%;
  }

  .container-header {
      padding: 25px 48px;
  }

  .container-header img {
      width: 18%;
  }

  .container-header img:nth-last-of-type(1){
      width: 30%;
  }


/***firs step of registration***/
  
  .registration {
      width:80%;
      padding: 4px 24px 32px 24px;
  }
  
  .h1-grey-1 {
      font-size: 100px;
      line-height: 101px;
      padding-left: 5px;
      text-align: center;
  }
  
  .h1-grey-2 {
      padding-bottom: 30px;
  }
  
  .form {
      width: 65%;
      padding: 50px;
  }

  label {
      font-size: 18px;
      padding-top: 22px;
      padding-bottom: 18px;
  }

  .input-div input {
      height: 65px;
      font-size: 22px;
  }
  
  .input-div img {
      left: 65%;
      width: 4.5%;
  }

  .password-requirements {
      padding-top: 20px;
      padding-bottom: 40px;
  }

  h2 {
      font-size: 18px;
  }

  a {
      font-size: 22px;
  }
  
  .container-btn {
      align-items: center;
  }
  
  .container-btn button {
      width: 50%;
      padding: 30px 40px;
      font-size: 22px;;
  }
  
  /***second step of registration***/

  .input-div-check a {
      padding: 0px;
  }

  /***third step of registration***/
  
  .success-message {
      padding-top: 250px;
  }

  .success-message h1 {
      padding-bottom: 60px;
  }
  
  .h3-email {
      font-size: 22px;
      line-height: 35px;
      padding-left: 50px;
  }
    
  .container-btn-2 button {
      width: 35%;
      font-size: 22px;
  }
}